<div class="threads">
    {{#.}}
        <div class="row thread">
            <div class="col-xs-12">
                <div class="row details">
                    <div class="col-xs-10 subject">
                        <a href="#" data-id="{{key}}">[{{key}}] {{fields.summary.value}}</a>
                    </div>
                    <div class="col-xs-2 info">
                        <div class="pull-right">
                            {{#if fields.environment.value}}
                                <button type="button" class="btn btn-success btn-xs popper version" data-id="environment">
                                    <strong>E</strong>
                                </button>
                                <div class="environment-popper hidden">
                                    <div class="environments">
                                        <p>{{fields.environment.value}}</p>
                                    </div>
                                </div>
                            {{/if}}
                            {{#if allv.length}}
                                <button type="button" class="btn btn-info btn-xs popper version" data-id="version">
                                    <strong>V</strong>
                                </button>
                                <div class="version-popper hidden">
                                    <div class="versions">
                                        <table class="table table-striped">
                                            {{#allv}}
                                                <tr>
                                                    <td>{{.}}</td>
                                                </tr>
                                            {{/allv}}
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                            {{#if allp.length}}
                                <button type="button" class="btn btn-danger btn-xs popper patch" data-id="patch">
                                    <strong>P</strong>
                                </button>
                                <div class="patch-popper hidden">
                                    <div class="patches">
                                        <table class="table table-striped">
                                            {{#allp}}
                                                <tr>
                                                    <td>{{.}}</td>
                                                </tr>
                                            {{/allp}}
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                            <!--<button type="button" class="btn btn-danger btn-xs popper patch"><strong>P</strong></button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/.}}
</div>