{{!-- this is the thread view --}}
<div class="messages">
    <div class="subject">
        <div class="row">
            <div class="col-xs-12">
                <h4>{{subject}}</h4>
                {{#labels}}
                    <span class="btn-xs btn-success clabel">{{.}}</span>
                {{/labels}}
            </div>
        </div>
    </div>
    {{#thread}}
        <div class="row message{{#if matched}}{{else}} ash{{/if}}">
            <div class="col-xs-12">
                <div class="header">
                    <div class="row title">
                        <div class="col-xs-10 user">{{{uname user}}}</div>
                        <div class="col-xs-2 time">
                            <div class="pull-right">{{ago time}}</div>
                        </div>
                    </div>
                    <div class="row summary{{#if matched}} hidden{{/if}}">
                        <div class="col-xs-12">{{summarize body}}</div>
                    </div>
                </div>
                <div class="body{{#if matched}}{{else}} hidden{{/if}}">
                    {{#hilit query=../query}}
                        {{{body}}}
                    {{/hilit}}
                </div>
            </div>
        </div>
    {{/thread}}
</div>