{{!-- this is the thread view --}}
<div class="messages">
    <div class="subject">
        <div class="row">
            <div class="col-xs-12">
                <h4>{{fields.summary.value}}</h4>
                <span class="btn-xs btn-success clabel">{{key}}</span>
                {{#if fields.environment.value}}
                    <span class="btn-xs btn-success">{{fields.environment.value}}</span>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row message ash">
        <div class="col-xs-12">
            <div class="header">
                <div class="row title">
                    <div class="col-xs-9 user"><strong>{{fields.reporter.value.displayName}}</strong></div>
                    <div class="col-xs-3 time">
                        <div class="pull-right">
                            <!--<span class="updated">{{ago fields.created.value}}</span>-->
                            {{#if fields.description.v}}
                                <button type="button" class="btn btn-info btn-xs popper version">
                                    <strong>V</strong>
                                </button>
                            {{/if}}
                            {{#if fields.description.p}}
                                <button type="button" class="btn btn-danger btn-xs popper patch">
                                    <strong>P</strong>
                                </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="row summary">
                    <div class="col-xs-12">{{{summarize fields.description.html}}}</div>
                </div>
            </div>
            <div class="body hidden">
                {{#hilit query=hilits}}
                    {{{fields.description.html}}}
                {{/hilit}}
            </div>
        </div>
    </div>
    {{#fields.comment.value}}
        <div class="row message ash">
            <div class="col-xs-12">
                <div class="header">
                    <div class="row title">
                        <div class="col-xs-9 user"><strong>{{author.displayName}}</strong></div>
                        <div class="col-xs-3 time">
                            <div class="pull-right">
                                <!--<span class="updated">{{ago updated}}</span>-->
                                {{#if v}}
                                    <button type="button" class="btn btn-info btn-xs popper version">
                                        <strong>V</strong>
                                    </button>
                                {{/if}}
                                {{#if p}}
                                    <button type="button" class="btn btn-danger btn-xs popper patch">
                                        <strong>P</strong>
                                    </button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="row summary">
                        <div class="col-xs-12">{{{summarize html}}}</div>
                    </div>
                </div>
                <div class="body hidden">
                    {{#hilit query=../hilits}}
                        {{{html}}}
                    {{/hilit}}
                </div>
            </div>
        </div>
    {{/fields.comment.value}}
</div>