{{!-- this is the thread view --}}
<div class="messages">
    <div class="subject">
        <div class="row">
            <div class="col-xs-12">
                <h4>{{subject}}</h4>
            </div>
        </div>
    </div>
    <div class="row message question">
        <div class="col-xs-12">
            <div class="header">
                <div class="row title">
                    <div class="col-xs-10 user"><strong>{{owner}}</strong></div>
                    <div class="col-xs-2 time">
                        <div class="pull-right">{{ago creation_date}}</div>
                    </div>
                </div>
                <!--<div class="row summary">
                    <div class="col-xs-12">{{summarize body}}</div>
                </div>-->
            </div>
            <div class="body">
                {{{body}}}
            </div>
        </div>
    </div>
    {{#thread}}
        <div class="row message ash{{#if is_accepted}} accepted{{/if}}">
            <div class="col-xs-12">
                <div class="header">
                    <div class="row title">
                        <div class="col-xs-10 user"><strong>{{owner.display_name}}</strong></div>
                        <div class="col-xs-2 time">
                            <div class="pull-right">
                                <div class="score">{{score}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row summary">
                        <div class="col-xs-12">{{summarize body}}</div>
                    </div>
                </div>
                <div class="body hidden">
                    {{{body}}}
                </div>
            </div>
        </div>
    {{/thread}}
</div>